body {
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

#iPad {
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 40px;
}

#iPadDescription {
    position: relative;
    width: 50%;
    text-align: right;
    padding-left: 800px
}

#line {
    position: relative;
}

#line::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    margin: auto;
    border-bottom: 3px solid black;
    border-radius: 20%;
}

.whofor {
    display: flex;
    align-items: stretch; 
    width: 95%;
    margin: auto;
}

.whofor > div {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    flex: 1;
    text-align: center;
}

.description {
    width: 400px;
    font-size: 18px;
}

#ipad {
    padding-bottom: 4%;
    height: 450px;
    width: 300px;
    margin-top: -35px; 
}

#ipadair {
    height: 450px;
    width: 400px;
    border-radius: 5%;
}

#ipadpro {
    padding-top: 10%;
    padding-bottom: 12%;
    height: 350px;
    width: 300px;
    border-radius: 5%;
}

#extrainfo {
    text-align: center;
}

#line2 {
    position: relative;
}

#line2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    margin: auto;
    border-bottom: 3px solid black;
    border-radius: 20%;
}

.otherproducts {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
    padding-top: -10% !important;
    padding-left: 40px;
    align-content: center;
    flex-wrap: wrap;
}

.otherproducts > div {
    flex: 1 0 calc(100% / 3 - 10px);
    margin-top: 50px; 
}

#macbookair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#airdescription, #prodescription, #imacdescription, #macminidescription, #macstudiodescription, #macprodescription{
    font-weight: normal;
    font-size: 18px;
    margin-right: 10px;
    width: 400px;
    text-align: start;
}