body {
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

#Mac {
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 40px;
}

#macDescription {
    position: relative;
    width: 50%;
    text-align: right;
    padding-left: 800px
}

#line {
    position: relative;
}

#line::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    margin: auto;
    border-bottom: 3px solid black;
    border-radius: 20%;
}

.whofor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.whofor > div {
    flex: 1;
    text-align: center;
}

#80percent, #15percent, #5percent {
    text-align: center;
}

#m2air {
    height: 300px;
    width: 400px;
    border-radius: 5%;
}

#m3pro {
    height: 300px;
    width: 400px;
    border-radius: 5%;
}

#macStudio {
    height: 300px;
    width: 400px;
    border-radius: 5%;
}

#extrainfo {
    text-align: center;
}

#line2 {
    position: relative;
}

#line2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    margin: auto;
    border-bottom: 3px solid black;
    border-radius: 20%;
}

.otherproducts {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
    padding-top: -10% !important;
    padding-left: 40px;
    align-content: center;
    flex-wrap: wrap;
}

.otherproducts > div {
    flex: 1 0 calc(100% / 3 - 10px); /* 100% divided by 3 (number of items per line) minus a little for margin */
    margin-top: 50px; /* Add a little space around each item */
}

#airdescription {
    font-weight: normal;
    font-size: 18px;
    width: 33%;
}